body{
    background-color: blue;
} 
#view{
    background-image:url("./assets/Frame\ 126.png");
    background-color: aliceblue;
    background-position: right;
}
#caption{
    margin-left: 8%;
    padding-top: 4%;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}
.head{
    background-color: white;
    display: flex;
    flex-direction: row;
   
    padding:2%;
    gap: 3%;
}
