body{
    background-color: blue;
} 
#view{
    background-image:url("./assets/Frame\ 126.png");
    background-color: aliceblue;
    background-position: right;
    width: 100%;
}
#caption{
    margin-left: 4%;
    padding-top: 1%;
    font-size: 38px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}
.head{
    background-color: white;
    display: flex;
    flex-direction: row;
   
    padding:2%;
    gap: 3%;
}
.shop{
    padding: 15px;
    color: white;
    background-color: black;
    margin-left: 4%;
    border-radius: 25px;
    width: 15%;
}
.sub{
    margin-left: 4%;
    color: gray;
}